@font-face {
  font-family: "Title";
  src: url("../assets/PixelifySans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Body";
  src: url("../assets/BreeSerif-Regular.ttf") format("truetype");
}

.header {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: var(--light-color);
}

.logo {
  display: grid;
  justify-items: start;
}

.title {
  font-size: 3.5rem;
  font-family: Title;
  font-weight: bolder;
  color: var(--tertiary-color);
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.rules {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0.3rem;
  color: var(--quaternary-color);
  font-family: Body;
}

.time {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.characters {
  display: flex;
  gap: 1.1rem;
}

.character {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: 600;
}

.character > img {
  height: 6rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.active {
  background-color: var(--light-main-color);
}

.links > a {
  color: var(--black);
  text-decoration: none;
  padding: 1.5rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.links > a:hover {
  color: var(--black);
  background-color: var(--hover-color);
  transition: background-color ease-in 0.25s;
}

.links > a:active {
  color: var(--black);
  background-color: var(--active-color);
  transition: color ease-in-out 0.05s;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 2.5rem;
    margin-bottom: -0.7rem;
    white-space: nowrap;
  }

  .rules {
    font-size: 0.9rem;
  }

  .time {
    font-size: 1.7rem;
  }

  .character > img {
    height: 4rem;
  }

  .character {
    font-size: 0.9rem;
  }
}
