.selmenu {
  display: flex;
  justify-items: center;
  gap: 0.2rem;
  width: fit-content;
  position: absolute;
  z-index: 2;
}

.characters {
  display: grid;
  justify-items: center;
  gap: 0.2rem;
  width: fit-content;
}

.mcharacter {
  display: inline;
  background-color: var(--dark-color);
  border-radius: 1.5rem;
  opacity: 0.9;
  color: white;
  font-size: 0.9rem;
}

.mcharacter > img {
  height: 3rem;
  margin-bottom: 0.2rem;
}

.circle {
  border: dashed 0.8ch black;
  background-color: black;
  border: dashed 0.7ch white;
  opacity: 0.5;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.2rem;
}
