.window {
  display: grid;
  background-color: var(--light-tertiary);
  opacity: 0.95;
  padding: 7rem 8rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
}

.window > p {
  font-size: 3ch;
  font-weight: bolder;
  margin: 0;
}

.title {
  font-size: 4ch;
  font-weight: bolder;
}

.form {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

input[type="text"] {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}

.form > button {
  margin-top: 1rem;
}
